canvas {
  border: 1px solid blue;
  margin-top: 10px;
}

progress {
  width: 300px;
}

h1 {
  font: 50px "Brush Script MT";
}

body {
  margin-top: 0;
  padding-left: 20px;
  font: 30px "Comic Sans";
}
